extends layout

block content
  h1= title
  - var results = [{roomType:"Delux", price: 100, location:"5 th Floor"},{roomType:"Suite", price: 200, location:"3 rd Floor"},{roomType:"Super Delux", price: 400, location:"1 st floor"}]
  div(class="container-fluid")
   div(class="row")
    each form in results
     div(class="col-sm-2") type: #{form.roomType} - price: #{form.price} - location: #{form.location}